@font-face {
    font-family: 'Arial Black';
    src: url(../fonts/ariblk.ttf);
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: row;
    height: 36px;
    padding: 18px 0 0 52px;
}
header > img {
    margin: 4px 0 11px 0;
}
.phones {
    margin: 6px 16px 0 3px;
}
.phones span {
    font-family: Arial;
    font-size: 18px;
    letter-spacing: 0.45px;
    color: #5e696d;
}
.avtorization {
    display: flex;
    flex-direction: row;
    width: 495px;
    height: 25px;
    border-radius: 4px;
    background: #206989; /* Old browsers */
    background: -moz-linear-gradient(top, #206989 0%, #1e6082 17%, #185778 29%, #114366 58%, #0d3358 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #206989 0%,#1e6082 17%,#185778 29%,#114366 58%,#0d3358 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #206989 0%,#1e6082 17%,#185778 29%,#114366 58%,#0d3358 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206989', endColorstr='#0d3358',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0px -1px 1px 0px rgb(166,195,207),
                        0px 1px 0px 0px rgba(78,100,122,1),
                        2px 3px 4px 0px rgba(150,150,150,0.75);
    -moz-box-shadow: 0px -1px 1px 0px rgb(166,195,207),
                    0px 1px 0px 0px rgba(78,100,122,1),
                    2px 3px 4px 0px rgba(150,150,150,0.75);
    box-shadow: 0px -1px 1px 0px rgb(166,195,207),
                0px 1px 0px 0px rgba(78,100,122,1),
                2px 3px 4px 0px rgba(150,150,150,0.75);
}
.avtorization img {
    margin: 4px 3px 3px 7px;
}
.namepass {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    height: 18px;
}
.namepass input {
    width: 109px;
    margin-right: 6px;
    padding-left: 4px;
    font-family: 'Lucida Sans Unicode';
    font-size: 10.91px;
    border: 1px solid #82949c;
    border-top: inset 1px #ebeced;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(235,236,237,1),
                        inset 0px -1px 0px 0px rgba(215,217,218,1),
                        inset 1px 0px 0px 0px rgba(231,233,233,1),
                        inset -1px 0px 0px 0px rgba(214,216,217,1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(235,236,237,1),
                    inset 0px -1px 0px 0px rgba(215,217,218,1),
                    inset 1px 0px 0px 0px rgba(231,233,233,1),
                    inset -1px 0px 0px 0px rgba(214,216,217,1);
    box-shadow: inset 0px 1px 0px 0px rgba(235,236,237,1),
                inset 0px -1px 0px 0px rgba(215,217,218,1),
                inset 1px 0px 0px 0px rgba(231,233,233,1),
                inset -1px 0px 0px 0px rgba(214,216,217,1);
}
.submit {
    border: none;
    padding: 0 5px 0 2px;
    background-color: transparent;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 10px;
    letter-spacing: -0.25px;
    color: #fff;
}
.line {
    width: 1px;
    height: 10px;
    margin-top: 8px;
    background-color: #fff;
}
.registr {
    margin: 8px 10px 0 4px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 10px;
    letter-spacing: -0.25px;
    color: #fff;
}
.pass {
    margin: 6px 10px 5px 0;
    border-bottom: 1px solid #bfbfbf;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 11px;
    color: #bfbfbf;
}
.map {
    display: flex;
    position: relative;
    width: 61px;
    height: 19px;
    margin: 1px 0 0 17px;
    padding: 0 5px 0 8px;
    border-radius: 10px;
    border: 1px solid #bdc4c7;
}
.map a {
    margin-right: 8px;
}
.map :last-child img {
    margin-left: 1px;
}
.map::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: #c6ccce;
    transform: rotate(-3deg);
    box-shadow: 0 5px 3px #c6ccce;
}
.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
nav {
    display: flex;
    flex-direction: row;
    width: 910px;
    height: 33px;
    margin: 0 auto;
    border: 1px solid #0d1642;
    border-radius: 4.5px;
    background: #576069; /* Old browsers */
    background: -moz-linear-gradient(top, #576069 0%, #505960 3%, #3a3f43 10%, #2b3034 13%, #151618 53%, #070707 83%, #010101 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #576069 0%,#505960 3%,#3a3f43 10%,#2b3034 13%,#151618 53%,#070707 83%,#010101 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #576069 0%,#505960 3%,#3a3f43 10%,#2b3034 13%,#151618 53%,#070707 83%,#010101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576069', endColorstr='#010101',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}
.menu {
    display: flex;
    flex-direction: row;
    margin: 3px 0 0 127px;
}
.menu li {
    display: flex;
    justify-content: center;
    height: 26px;
    border-radius: 15px;
}
.menu li:first-child {
    padding: 0 17px 0 21px;
}
.menu li:nth-child(2) {
    padding: 0 15px 0 17px;
}
.menu li:nth-child(3) {
    padding: 0 15px 0 15px;
}
.menu li:nth-child(4) {
    padding: 0 12px 0 15px;
}
.menu li:nth-child(5) {
    padding: 0 15px 0 14px;
}
.menu a {
    display: block;
    padding-top: 1px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 13px;
    color: #b1bcc0;
}
.menu li:hover {
    color: #fff;
    background: #206989; /* Old browsers */
    background: -moz-linear-gradient(top, #206989 0%, #1e6384 13%, #114165 61%, #0f375b 87%, #0c375a 91%, #0e3459 96%, #0b3356 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #206989 0%,#1e6384 13%,#114165 61%,#0f375b 87%,#0c375a 91%,#0e3459 96%,#0b3356 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #206989 0%,#1e6384 13%,#114165 61%,#0f375b 87%,#0c375a 91%,#0e3459 96%,#0b3356 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206989', endColorstr='#0b3356',GradientType=0 ); /* IE6-9 */
}
.basket {
    display: flex;
}
.basket img {
    margin: 7px 0 0 56px;
}
.basket span {
    padding-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    color: #929b9f;
}
.basket span:nth-child(2) {
    padding-left: 7px;
    letter-spacing: 0.45px;
}
.basket span:nth-child(4){
    padding-left: 15px;
    letter-spacing: 0.2px;
}
.blue:nth-child(3),
.blue:nth-child(5) {
    padding-top: 10px;
    font-size: 12px;
    letter-spacing: 0.45px;
    color: #0d5a8f;
}
.blue:nth-child(5) {
    padding-left: 7px;
}
.search {
    display: flex;
    flex-direction: row;
    margin: 11px 51px 16px 49px;
}
.block1 {
    display: flex;
    flex-direction: row;
}
.car,
.tire,
.disksearch {
    border: 1px solid #9c9c9d;
    border-radius: 18px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
    box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
}
.car {
    width: 414px;
    height: 134px;
}
.searchcar {
    display: flex;
    height: 15px;
    padding-left: 20px;
}
.searchcar span {
    font-size: 10px;
    font-family: "Arial Black", sans-serif;
    color: #154468;
}
.searchcar :first-child {
    padding-top: 4px;
    letter-spacing: 0.4px;
}
.searchcar :nth-child(2) {
    padding: 1px 73px 0 64px;
    letter-spacing: 0.35px;
    font-size: 12px;
}
.searchcar :last-child {
    padding-top: 2px;
}
.values {
    padding: 10px 4px 0 15px;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    line-height: 8px;
    letter-spacing: 0.3px;
    color: #000;
}
.values p {
    padding-bottom: 7px;
}
.values span {
    font-size: 8px;
    color: #77858b;
}
.select1 {
    display: flex;
    flex-direction: column;
    padding: 4px 15px 0 0;
}
.block1 div:first-child {
    padding: 11px 4px 0 17px;
}
select {
    width: 102px;
    height: 17px;
    border-top: 2px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background-image: url(../img/arrow.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none;
}
.select1 :nth-child(3) {
    width: 58px;
}
.select1 select {
    margin-bottom: 5px;
}
.poisk {
    margin-top: -2px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 0;
}
.poisk a {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 14px;
    color: #154467;
}
.tire {
    width: 192px;
    height: 136px;
    margin-left: 14px;
}
.tire p:first-child {
    padding: 2px 0 6px 9px;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
    color: #154468;
}
.firstblock {
    display: flex;
    flex-direction: row;
}
.firstblock span:first-child {
    padding: 10px 7px 0 14px;
    font-family: "Lucinda Sans Unicode", sans-serif;
    letter-spacing: 0.8px;
    font-size: 10px;
    color: #000;
}
.firstblock select {
    padding-top: 3px;
    width: 53px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: #000;
}
.firstblock span:nth-child(3) {
    padding: 3px 4px 0 4px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #000;
}
.radius {
    padding-top: 3px;
}
.radius span {
    padding: 5px 1px 0 45px;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    color: #000;
}
.radius select {
    width: 45px;
    font-family: 'Aril', sans-serif;
    color: 11px;
}
.seasons {
    display: flex;
    flex-direction: row;
}
.seasons span {
    padding: 5px 6px 0 13px;
    font-family: "Lucinda Sans Unicode", sans-serif;
    letter-spacing: 0.2px;
    font-size: 11px;
    color: #000;
}
.checkboxes {
    padding: 5px 0 0 5px;
}
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox input {
    margin: 0;
}
label {
    padding-left: 1px;
    font-family: "Lucinda Sans Unicode", sans-serif;
    letter-spacing: 0.35px;
    line-height: 13px;
    font-size: 12px;
    color: #000;
}
.disksearch {
    display: flex;
    display: row;
    margin: -3px 0 0 9px;
    width: 268px;
    height: 135px;
}
.discs > p:first-child {
    margin: 4px 0 5px 9px;
    font-family: "Arial Black", sans-serif;
    letter-spacing: 0.9px;
    font-size: 12px;
    color: #114165;
}
.diameter,
.quantity,
.location {
    display: flex;
    flex-direction: row;
}
.diameter option {
    font-size: 10px;
}
.discs > div > p {
    padding: 2px 4px 0 16px;
    width: 88px;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 10px;
    color: #000;
}
.discs > div span {
    font-size: 9px;
    color: #77858b;
}
.diameter select {
    margin-bottom: 5px;
    width: 56px;
}
.quantity select {
    margin-top: 8px;
    margin-bottom: 15px;
    width: 51px;
}
.location select {
    width: 58px;
}
.openings {
    margin: 4px 18px 0 10px;
    width: 60px;
    height: 108px;
    padding: 3px 0 0 9px;
    border-left: 1px solid #77858b;
}
.dco p {
    margin-bottom: 4px;
    line-height: 8px;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 9px;
    color: #000;
}
.dco span {
    font-size: 8px;
    color: #77858b;
}
.dco select {
    width: 58px;
}
.dco select:nth-child(2) {
    margin-bottom: 5px;
}
main {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 44px;
}
.katalog {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding-left: 2px;
    width: 179px;
    height: 23px;
    border: 1px solid #79878d;
    border-radius: 15px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 12px;
    color: #114165;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(150,150,150,0.75);
    -moz-box-shadow: 1px 3px 3px 0px rgba(150,150,150,0.75);
    box-shadow: 1px 3px 3px 0px rgba(150,150,150,0.75);
}
.katalog span {
    padding-left: 3px;
}
.list {
    display: flex;
    align-items: center;
    padding-left: 6px;
    width: 144px;
    height: 26px;
    border: 1px solid #79878d;
    border-radius: 14px;
}
.list a {
    padding: 3px 0 0 2px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 14px;
    color: #114165;
}
aside ul {
    margin: 5px 0 8px 0;
    height: 92px;
}
aside li {
    margin: 0 0 8px 37px;
    padding-left: 10px;
    line-height: 15px;
    background-image: url(../img/marker.png);
    background-position: 0 25%;
    background-repeat: no-repeat;
}
aside li a {
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 13px;
    color: #465961;
}
aside li:hover {
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    background-image: url(../img/marker1.png);
    background-position: 0 25%;
    background-repeat: no-repeat;
    color: #0c3256;
}
article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -5px 9px 0 9px;
    padding: 17px 30px 29px 22px;
    width: 475px;
    height: 582px;
    border-radius: 3px;
    background: #f5f5f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f6 0%, #e5e7e8 0%, #dbe0e2 15%, #bac6cb 44%, #a5b5bc 69%, #9badb5 83%, #93a7b0 100%, #a9b9c0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f5f5f6 0%,#e5e7e8 0%,#dbe0e2 15%,#bac6cb 44%,#a5b5bc 69%,#9badb5 83%,#93a7b0 100%,#a9b9c0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f5f5f6 0%,#e5e7e8 0%,#dbe0e2 15%,#bac6cb 44%,#a5b5bc 69%,#9badb5 83%,#93a7b0 100%,#a9b9c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f6', endColorstr='#a9b9c0',GradientType=0 ); /* IE6-9 */
}
.thirdproduct a,
.secondproduct a,
.firstproduct a {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans Unicode';
    font-size: 14.59px;
    color: #206988;
}
.thirdproduct :nth-child(2),
.secondproduct :nth-child(2),
.firstproduct :nth-child(2) {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans Unicode';
    font-size: 12.77px;
    color: #1f2528;
}
.thirdproduct p:last-child,
.secondproduct p:last-child,
.firstproduct p:last-child {
    display: flex;
    justify-content: center;
    margin: 4px 0 25px 16px;
    font-style: italic;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 16px;
    color: #114165;
}
.img {
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
    width: 137px;
    border: 1px solid #a4aeb1;
    border-radius: 8px;
    background-color: #fff;
}
section {
    margin-top: -3px;
}
.brends {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding-left: 3px;
    width: 179px;
    height: 25px;
    border: 1px solid #79878d;
    border-radius: 15px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 12.73px;
    color: #114165;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(150,150,150,0.75);
    -moz-box-shadow: 1px 3px 3px 0px rgba(150,150,150,0.75);
    box-shadow: 1px 3px 3px 0px rgba(150,150,150,0.75);
}
.brends a {
    padding-left: 3px;
    color: #0c3256;
}
.tire_check,
.disk_check {
    display: flex;
    align-items: center;
    margin: 0 0 3px 15px;
    padding-left: 4px;
    width: 128px;
    height: 26px;
    border: 1px solid #79878d;
    border-radius: 12px;
}
.tire_check span,
.disk_check span {
    padding: 1px 0 0 2px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #114165;
}
.tire_brand,
.disks_brand{
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}
section label {
    margin-left: 5px;
    line-height: 24px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 12.73px;
    color: #465961;
}
 section label:hover {
     color: #0c3256;
 }
section div:nth-child(3) {
    margin-bottom: 4px;
}
section div:nth-child(5) {
    margin-bottom: 10px;
}
section div:nth-child(6) {
    margin-bottom: 6px;
}
section div:nth-child(7) {
    margin-bottom: 1px;
}
section div:nth-child(8) {
    margin-bottom: 3px;
}
.button {
    margin: 13px 0 0 23px;
    width: 80px;
    height: 26px;
    border: 1px solid #a7abae;
    border-radius: 13px;
    background: -moz-linear-gradient(top, #206989 0%, #1e6384 13%, #114165 61%, #0f375b 87%, #0c375a 91%, #0e3459 96%, #0b3356 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #206989 0%,#1e6384 13%,#114165 61%,#0f375b 87%,#0c375a 91%,#0e3459 96%,#0b3356 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #206989 0%,#1e6384 13%,#114165 61%,#0f375b 87%,#0c375a 91%,#0e3459 96%,#0b3356 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206989', endColorstr='#0b3356',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 1px 2px 3px 0px rgba(190,192,193,1);
    -moz-box-shadow: 1px 2px 3px 0px rgba(190,192,193,1);
    box-shadow: 1px 2px 3px 0px rgba(190,192,193,1);
}
.button p {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 26px;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    color: #e5e9ea;
}

input[type="submit"] {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    margin-top: 35px;
}
.logos a:first-child img {
    margin: 9px 14px 0 0;
}
.logos a:nth-child(2) {
    margin: 0px 14px 0 0;
}
.logos a:nth-child(3) img {
    padding: 9px 15px 0 0;
}
.logos a:nth-child(4) img {
    padding: 7px 12px 0 0;
}
.logos a:nth-child(5) img {
    padding: 4px 12px 0 0;
}
.logos a:nth-child(6) img {
    padding: 5px 13px 0 0;
}
.logos a:nth-child(7) img {
    padding: 3px 15px 0 0;
}
.logos a:nth-child(8) img {
    padding: 4px 0 0 0;
}
footer {
    margin: 0 auto;
    margin-top: 27px;
    padding-top: 10px;
    padding-left: 5px;
    width: 903px;
    height: 90px;
    text-align: center;
    background-color: #213a4d;
}
footer a {
    padding: 0 12px 0 12px;
    line-height: 12px;
    border-right: 1px solid #bec6c9;
    font-family: "Arial";
    font-size: 12px;
    color: #bec6c9;
}
footer a:nth-child(4) {
    border-right: none;
}
footer a:hover {
    color: #52abcb;
}
footer p {
    margin-top: 15px;
    font-family: "Arial";
    letter-spacing: 0.1px;
    font-size: 10px;
    color: #7f4740;
}
